<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <title>MOwNiT SE</title>
  </head>

  <body class="position-relative text-center">
    <div
      class="
        d-none d-md-block
        position-absolute
        top-0
        end-0
        translate-middle-x
        mt-4
      "
    >
      <div class="dropdown">
        <button
          class="btn-gray btn dropdown-toggle"
          type="button"
          id="search-method"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Search method
        </button>
        <ul class="dropdown-menu" aria-labelledby="search-method">
          <li>
            <button class="dropdown-item" onclick="setMethod('vsr')">
              <span id="vsr-dot">&bull; </span>VSR
            </button>
          </li>
          <li>
            <button class="dropdown-item" onclick="setMethod('vsr-idf')">
              <span id="vsr-idf-dot">&bull; </span>VSR + IDF
            </button>
          </li>
          <li>
            <button class="dropdown-item" onclick="setMethod('lsi')">
              <span id="lsi-dot">&bull; </span>LSI
            </button>
          </li>
          <li>
            <button class="dropdown-item" onclick="setMethod('edlsi')">
              <span id="edlsi-dot">&bull; </span>EDLSI
            </button>
          </li>
        </ul>
      </div>
    </div>
    <main class="container position-absolute top-50 start-50 translate-middle">
      <div class="logo mb-5">
        <span class="text-primary">Awesome</span>
        <span class="text-dark">MOwNiT</span>
        <span class="text-dark">search</span>
        <span class="text-danger">engine</span>
      </div>
      <div class="search-input row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <input
            type="text"
            class="form-control"
            name="search-input"
            id="search-input"
            placeholder="Enter some phrase"
          />
        </div>
        <div class="col-lg-3"></div>
      </div>
      <div class="buttons">
        <button class="btn btn-primary m-3" onclick="search()">Search</button>
        <button class="btn btn-danger m-3" onclick="lucky()">
          I'm feeling lucky
        </button>
      </div>
    </main>
    <footer
      class="
        container-fluid
        position-absolute
        top-100
        start-50
        translate-middle
      "
    >
      2021 Maksymilian Wojnar
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
